<!--FontAwesome Icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

<!--Footer-->
<div class="notification has-text-centered">
    <p>
        Built with ❤️ by the <strong>Newman Catholic Ministry</strong> officers at UT Dallas. 
        &copy; 2020
        <br>
        <a href="https://github.com/nich227/ncm-utd" target="_blank"><br><i class="fab fa-github"></i></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="newman-link" href="http://www.newmanconnection.com/" target="_blank"><img id="footer-logo" src="../../../assets/logos/newman-connect.png"></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://www.usccb.org/"><img id="footer-logo" src="../../../assets/logos/usccb.ico"></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://www.utdallas.edu/"><img id="footer-logo" src="../../../assets/logos/utd-logo.ico"></a>
    </p>
</div>
