<!--FontAwesome Icons-->
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
/>

<!--Navbar-->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://newmanutd.org">
      <img
        src="../../../assets/logos/ncm-logo.png"
        alt="Newman Catholic Ministry at UT Dallas"
      />
    </a>

    <a
      (click)="toggleNavbar()"
      role="button"
      #navBurger
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarMenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a routerLink="/" class="navbar-item">Home</a>
      <a routerLink="/events" class="navbar-item">Events</a>
      <a routerLink="/support-ncm" class="navbar-item">Support Us</a>
      <a routerLink="/store" class="navbar-item">Store</a>
      <a routerLink="/get-involved" class="navbar-item">Get Involved</a>
      <a routerLink="/about-ncm" class="navbar-item">About Us</a>
    </div>
  </div>
</nav>

<!--Website moved notification-->
<div id="notifyBanner" class="notification is-info is-light">
  <button class="delete" (click)="closeNotification()"></button>
  <b>New website:</b>
  Hey, Catholic Comets! The NCM website has moved! New website: https://newmanutd.wixsite.com/ncmutd
</div>
