<head>
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <meta name="viewport" content="width: device-width, initial-scale=1">
</head>

<body class="has-navbar-fixed-top">

  <!--Navbar-->
  <app-navbar></app-navbar>

  <!--Hero with header and footer-->
  <section class="hero is-fullheight has-background">
    <img class="hero-background is-transparent" src="../../../assets/support-ncm-cover.jpg">
    <!--Body-->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">In order to continue its mission, Newman Catholic Ministry needs your support.</h1>
        <button class="button is-light is-outlined overflow"><i class="fas fa-angle-down"></i>&nbsp;Support Us</button>
      </div>
    </div>
  </section>

  <!--Footer-->
  <app-footer></app-footer>
</body>
