<head>
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <meta name="viewport" content="width: device-width, initial-scale=1">
</head>

<body onload="bodyLoad()">
  <!--Hero-->
  <section class="hero is-grey-lighter has-background is-fullheight">
    <img class="hero-background is-transparent" src="../../../assets/page-covers/sunday-reading-cover.jpg">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" id="title">
          Sunday Reading
        </h1>
        <div style="text-align:center">
          <a id="open" class="button is-warning" onclick="clickOpen()"><i class="fas fa-cross"></i>&nbsp;Open</a>
        </div>
      </div>
    </div>
  </section>

  <!--Footer-->
  <app-footer></app-footer>
