<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <meta name="viewport" content="width: device-width, initial-scale=1">
</head>

<body class="has-navbar-fixed-top">

  <!--Navbar-->
  <app-navbar></app-navbar>

  <!--Hero-->
  <section class="hero is-warning is-fullheight has-background">
    <img class="hero-background is-transparent" src="../../../assets/home-cover.jpg">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">He is waiting for you when nothing else you find satisfies you.</h1>
        <br><br>
        <h1 class="subtitle">- St. John Paul II</h1>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
        <a href="#links"><i class="fas fa-angle-down fa-2x"></i></a>
      </div>
    </div>
  </section>

  <br>

  <!--Navigation-->
  <div class="tile is-ancestor" id="links">
    <div class="tile is-vertical is-parent">
      <article class="tile is-child notification is-primary">
        <a routerLink="/events" style="text-decoration: none">
          <p class="title tile-title">Events</p>
        </a>
      </article>
      <article class="tile is-child notification is-danger">
        <a routerLink="/support-ncm" style="text-decoration: none">
          <p class="title tile-title">Support Us</p>
        </a>
      </article>
    </div>
    <div class="tile is-vertical is-parent">
      <article class="tile is-child notification is-success">
        <a routerLink="/get-involved" style="text-decoration: none">
          <p class="title tile-title">Get Involved</p>
        </a>
      </article>
      <article class="tile is-child notification is-info">
        <a routerLink="/about-ncm" style="text-decoration: none">
          <p class="title tile-title">About Us</p>
        </a>
      </article>
    </div>
  </div>

  <!--Footer-->
  <app-footer></app-footer>
</body>

</html>
