body
  font-family: 'Rubik', sans-serif
.tile-title, .subtitle 
  text-align: center
.tile-title
  font-size: 24px
.subtitle
  font-size: 16px
.card
  padding-top: 24px
  padding-bottom: 24px
.hero
  &.has-background
    position: relative
    overflow: hidden
  &-background 
    position: absolute
    object-fit: cover
    object-position: center center
    width: 100%
    height: 100%
    &.is-transparent 
      opacity: 0.3
.crop-image
  width: 200px
  height: 200px
  overflow: hidden
  border-radius: 50%
  display: block
  margin-left: auto
  margin-right: auto
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)
  -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6)
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)
.officer-pic
  border-radius: 50%
  height: 100%
  width: auto
  object-fit: cover
.hero-foot
  text-align: center
.fa-angle-down:hover
  color: #d6d6d6
.fa-angle-down
  color: white
  transition: 0.3s
  -moz-animation: bounce 2s infinite
  -webkit-animation: bounce 2s infinite
  animation: bounce 2s infinite
@keyframes bounce 
  0%, 20%, 50%, 80%, 100% 
    transform: translateY(0)
  
  40% 
    transform: translateY(-30px)
  
  60% 
    transform: translateY(-15px)
@media screen and (min-width: 768px) 
  .officer
      position: relative
      top: 50%
      transform: translateY(-50%)
.hero-foot
  padding-bottom: 48px