body
    font-family: 'Rubik', sans-serif
.is-event-header
    font-size: 24px
    font-weight: bold
.is-event-footer
    font-size: 12px
.columns, .card
    padding-top: 24px
    padding-bottom: 24px
#eventTmpl
    display: none
.event-loc, .event-loc:visited 
    color: #808080
.event-loc:hover 
    color: #c2c2c2