body
    font-family: 'Cabin', sans-serif
.is-event-header
    font-size: 24px
    font-weight: bold
.is-event-footer
    font-size: 12px
.columns, .card
    padding-top: 24px
    padding-bottom: 24px
#eventTmpl
    display: none
.event-loc, .event-loc:visited 
    color: #808080
.event-loc:hover 
    color: #FFDD57
.event-pic
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)
  -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6)
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)
@media screen and (min-width: 768px) 
    .event-pic, .event-text
        position: relative
        top: 50%
        transform: translateY(-50%)